  @import url(https://fonts.googleapis.com/css?family=Slackey);

body {
  margin: 0;
  padding: 0;
  background: #3692ff;
  color: #001e51;
  font-family: "Slackey", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

header, footer {
  background-color: #60a3f0;
  color: #001e51;
  text-align: center;
  padding: 0;
  position: sticky;
  top: 0;
}

#title, #welcome h1 {
  font-size: 1.7em;
}

@media only screen and (max-width: 600px) {
  #title, #welcome h1 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 400px) {
  #title, #welcome h1 {
    font-size: 1.2em;
  }
}

#header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin-top: 0;
  cursor: pointer;
  transition: opacity 0.55s, filter 0.55s;
}

#welcome {
  position: relative;
  cursor: pointer;
  top: 15px;
}

.main-content1 {
  width: 70%;
  margin: 150px auto;
  padding: 0;
}

img {
  border-radius: 25px;
  height: 250px;
  margin-bottom: 10px; /* Add margin to separate the image from the text below */
  box-shadow: 0px 4px 8px 10px rgba(0, 0, 0, 0.35);
}

.games {
  position: relative;
  color: white;
  font-size: 70px;
  margin: 0 auto;
  z-index: -1;
}
.about{
  position: relative;
  color: white;
  font-size: 30px;
  margin: 0 auto;
  z-index: -1;

}

.card {
  text-align: left;
  cursor: pointer;
}

#gethenButton {
  background: transparent;
  color: #001e51;
  border: 2px solid #001e51;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: 100px; 
  margin-left: -190px;
}

#gethenButton:hover {
  background: #001e51;
  color: white;
}
footer {
  margin-top: auto;
}
